<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VistaBee"
        tools:targetApi="31"
        tools:ignore="ExtraText">
        <activity
            android:name=".spotify"
            android:exported="false" />
        <activity
            android:name=".profileStatic"
            android:exported="false" />
        <activity android:name=".ProfilePage" />
        <activity
            android:name=".Remote1"
            android:exported="false" />
        <activity
            android:name=".Fulltime"
            android:exported="false" />
        <activity
            android:name=".ReadMore"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/VistaBee"
            android:theme="@style/Theme.VistaBee">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".FourthActivity" />
        <activity android:name=".FifthActivity" />
        <activity android:name=".HomePage" />
        <activity android:name=".EduPage" />
        <activity android:name=".ExpPage" />
        <activity android:name=".SkillsPage" />
        <activity android:name=".SummaryPage" />
        <activity android:name=".SettingPage" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".GetActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".SuccessActivity" />
        <activity android:name=".FailActivity" />
        <activity android:name=".ProfileStatic" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>